Source: python-py
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Uploaders: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Ondřej Nový <onovy@debian.org>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-setuptools-scm,
 python3-pytest <!nocheck>,
 subversion <!nocheck>,
Standards-Version: 4.5.1
Homepage: https://github.com/pytest-dev/py
Vcs-Git: https://salsa.debian.org/python-team/packages/python-py.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-py
Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bullseye

Package: python3-py
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-pkg-resources
Suggests:
 subversion,
 python3-pytest
Description: Advanced Python development support library (Python 3)
 The Codespeak py lib aims at supporting a decent Python development process
 addressing deployment, versioning and documentation perspectives. It includes:
 .
  * py.path: path abstractions over local and Subversion files
  * py.code: dynamic code compile and traceback printing support
 .
 This package provides the Python 3 modules.
